$colors: (
    header: #E2E2E2,
	gray: #EFEFEF,
	lightgray: #dadada,
    border: #707070,
    red: #F65151,
    redHover: #e66363,
	lightred: #FEAEAE,
	lightgreen: #CDFCB6,
	lightblue: #B6D7FC
);

@function color($color) {
	$color: map-get($colors, $color);
	@return $color;
}

* {
    box-sizing: border-box;
    outline: none;
    font-family: 'Segoe UI';
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.conatiner {
    height: 100%;
}

.main-header {
    position: absolute;
    height: 70px;
    background-color: color(header);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
    padding-right: 30px;
    width: 100%;

    .new-note {
        z-index: 5;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: color(red);
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
        
        &:before {
            content: '+';
            font-size: 40px;
            color: white;
            font-family: sans-serif;
        }

        &:hover {
            background-color: color(redHover);
        }
    }

    .new-board {
        z-index: 5;
        
        button {
            cursor: pointer;
            margin-right: 20px;
            height: 30px;
            border-radius: 50px;
            color: white;
            background-color: black;
            border: 0;
            padding: 0 20px;
            transition: 1s;

            p {
                margin: 0;
            }

            &:hover {
                background-color: #1d1d1d;
            }

            &:active, &:focus, p:focus, p:active {
                min-width: 150px;

                p {
                    border-bottom: 1px solid color(gray);
                }
            }

            p:focus, p:active {
                border-bottom: 1px solid color(gray);
            }
        }


        
    }
}

.board {
    .boards-list {
        position: absolute;
        top: 40px;
        width: 100%;
        background-color: color(header);
        
        ul {
            margin: 0;
            padding-left: 80px;
            display: flex;
            flex-direction: row;
            list-style: none;
            
            li {
                // background-color: color;
                border-radius: 11px 11px 0 0;
                padding: 6px 30px;
                user-select: none;
                cursor: pointer;

            }
            
            .selected {
                background-color: white;
            }
        }
    }
    
    .note {
        position: absolute;
        width: 200px;
        overflow: hidden;
        min-height: 200px; 
        min-width: 200px;   
        background-color: color(gray);
        resize: both;
        box-shadow: 1px 2px 3px 1px color(lightgray);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        cursor: grab;
        
        .desc {
            cursor: text;
            width: calc(100% - 20px);
            height: auto;
            min-height: 150px;
            margin: 10px;
            overflow: hidden;
        }
    
        .edit-tools {
            visibility: hidden;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            .colors {
                position: relative;
                display: flex;
        
                .color {
                    width: 20px;
                    height: 20px;
                    border: 1px solid color(border);
                    border-radius: 50%;
                    margin: 0 5px;
                }
    
                .default, .red, .green, .blue {
                    cursor: pointer;
                }
    
                .default {
                    background-color: color(gray);
                }
                
                .red {
                    background-color: color(lightred);
                }
                
                .green {
                    background-color: color(lightgreen);
                }
                
                .blue {
                    background-color: color(lightblue);
                }
            }
    
            .delete-button {
                cursor: pointer;
                border-radius: 50%;
                background-color: color(red);
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                
                &:before {
                    content: 'X';
                    color: white;
                    font-size: 14px;
                    font-family: sans-serif;
                }
    
                &:hover {
                    background-color: color(redHover);
                }
            }
        }
    
        &:hover .edit-tools {
            visibility: visible;
        }
    }
}

// Draggable
.draggable {
    position: fixed;
    top : 0; left: 0;
    user-select: initial;
}